body{
    font-family: sans-serif;
    
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background: linear-gradient(45deg,#ff00ff,#00ffff,#00ff00);
    background-size: 600% 600%;
    animation: gradiantAnimation 10s ease infinite;
    
    
}
@keyframes gradiantAnimation{
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
.weatherform{
    margin: 20px;

}
.cityinput{
    padding:10px 20px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid hsla(0, 0%, 20%, 0.159);
    margin: 10px;
    margin: 10px;
    border-radius: 5px;
}
button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2.2rem;
    background-color: hsl(195, 60%, 51%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: hsl(195, 60%, 41%);

}
.card{
    background: linear-gradient(180deg, hsl(210, 100%, 70%),hsl(39, 100%, 75%));
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.518);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;


}
h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;

}
p{
    font-size: 1.5rem;
    margin: 5px 0;

}
.citydisplay , .tempdisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}
.humiditydisplay{
    font-weight: bold;
    margin-bottom:25px ;
}
.descdisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.weatheremoji{
    margin: 0;
    font-size: 7.5rem;
}
.errordisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.75);
}

